.title {
  margin: 10px auto 0;
  text-align: center;
}

.statsBlock {
  display: grid;
  justify-items: stretch;
  margin: 10px;
  outline: 1px solid black;
}

.row,
.header {
  display: grid;
  // grid-template-columns: repeat (6, 1fr);
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  // outline: 1px solid blue;

  span {
    text-align: center;
    margin: 0 5px;
  }
}

.header {
  font-weight: bold;
  outline: 1px solid black;
}

.row:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.date {
  font-size: 0.8rem;
}
