.flip-container{
   // perspective: 1000px;
   // display: inline-block;
   border: 1px solid white;
   border-radius: 5px;
   // background: rgb(182, 143, 143);
   margin: 5px;

   &:hover{
      transition: all .15s ease-in-out;
      cursor: pointer;
      box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
   }
}

.flip-container.flipped .flipper{
   transform: rotateY(180deg);
}

.flipper{
   transition: .6s;
   transform-style: preserve-3d;
   position: relative;
}

.front,
.back{
   backface-visibility: hidden;
   position: absolute;
   left: 0;
   top: 0;
   padding: 5px;
}

.back{
   z-index: 2;
   transform: rotateY(0deg);
}

.front{
   transform: rotateY(180deg);
}